{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      },
      "typescript": {
        "config": "tsconfig.json",
        "alwaysTryTypes": true
      }
    }
  },
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/all",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "no-return-await": "off",
    "@typescript-eslint/no-magic-numbers": ["off"],
    "@typescript-eslint/no-type-alias": ["off"],
    "@typescript-eslint/no-unsafe-argument": ["off"],
    "@typescript-eslint/no-unsafe-assignment": ["off"],
    "@typescript-eslint/no-unsafe-call": ["off"],
    "@typescript-eslint/no-unsafe-member-access": ["off"],
    "@typescript-eslint/no-unsafe-return": ["off"],
    "@typescript-eslint/prefer-readonly-parameter-types": [
      "error",
      { "ignoreInferredTypes": true }
    ],
    "@typescript-eslint/return-await": ["error", "always"]
  },
  "ignorePatterns": [
    "jest.config.js",
    "dist",
    "rollup.config.base.js",
    "_templates"
  ]
}
